.wrapper {
  background: linear-gradient(to bottom, #6c2735, #e7dbdc);
  font-family: "Yu Mincho Light", "游明朝体", "Georgia", sans-serif;
  text-align: right;
}

.container {
  max-width: 100%;
  position: relative;
  padding: 0 1rem;
  box-sizing: border-box;
}

.desgin-box {
  margin-left: auto;
  background-color: #d9d9d9;
  width: 80%;
  padding: 30px 0;
}

.title-image {
  width: 60%;
  height: auto;
  margin-left: auto;
}

h1 {
  font-size: 4vw;
  color: #e7dbdc;
  text-shadow: rgba(255, 204, 0, 0.822) 1px 0 10px;
  position: absolute;
  top: 50%;
  transform: translate(-25%, -50%);
  letter-spacing: 0.5vw;
  -webkit-text-stroke: 0.7px #6c2735;
  text-align: left;
}

.main {
  text-align: center;
  margin: 15vw 0;
  padding: 50px 0 150px 0;
}

.main-text {
  font-size: 1.5rem;
  padding: 50px 0 100px 0;
}

.sub-text {
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 100px 0 50px 0;
}

.present {
  position: relative;
  padding: 0 0 50px 0;
}

.present-image {
  width: 80%;
  display: block;
  margin: 0 auto;
}

h2 {
  font-size: 1.2rem;
  text-align: center;
}

.btntextchange {
  min-width: 160px;
  padding: 12px;
  margin: 20px auto;
}

.btntextchange:hover {
  background: #3a4259;
  color: #fff;
}

.btntextchange span {
  width: 120px;
}

.btntextchange span:nth-child(2) {
  opacity: 0;
}

.btntextchange:hover span:nth-child(1) {
  opacity: 0;
}

.btntextchange:hover span:nth-child(2) {
  opacity: 1;
}
